@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4;
  --foreground: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(rgb(28, 39, 55), rgb(12, 17, 28));
    --foreground: #f4f4f4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: roboto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
